/* ==========================================================================
   App styles
   ========================================================================== */

/*
 * No Javascript display
 */

.no-js-message {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222222;
    display: table;
}

.js .no-js-message {
    display: none;
}

.no-js-message__text {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

/*
 * Helper classes
 */

 .remove {
    display: none;
 }